@import "nav-bar.css";
@import "media-queries.css";
@import "login.css";
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

[title-font] {
    font-family: 'Supermercado One', cursive;
    font-size: 26pt;
    font-weight: bold;
}